body{
  background-color: rgba(235,165,171,0.6);
}
h1{
  
  text-align: center;
}
#container{
  height: 450px;
  width: 350px;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(220,236,215,0.6);
}
#corps{
  position: relative;
  border-radius: 42%;
  top:16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #B47618;
  z-index: 2; /*  Le z-index:1 est notre container */
}
.elements{
  z-index: 3;
}
#hat {
  position: absolute;
  top: -36px;
}
#brows {
  position: absolute;
  top: 41px;
  left: 21px;
}
#eyes {
  position: absolute;
  top: 67px;
  left: 32px;
}
#feet {
  position: absolute;
  bottom: -30px;
  right: -29px;
}
#lefthear {
  position: absolute;
  top: 55px;
  right: -30px;
}
#lefthand {
  position: absolute;
  top: -35px;
  right: -87px;
}
#nose {
  position: absolute;
  top: 98px;
  left: 19px;
}
#rightear {
  position: absolute;
  top: 62px;
  left: -44px; 
}
#righthand {
  position: absolute;
  top: 129px;
  left: -55px;
}
/*Ajouter le css images ici*/